<div class="p-2">
  <span class="ml-2">مدیریت شرکت ها:</span>
  <a-button (click)="add()">افزودن</a-button>
</div>

<div>
  <table mat-table [dataSource]="transactions" style="font-family: iransansX">
    <!-- Item Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.userId }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>نام</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.firstNameAndLastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef>موبایل</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.phoneNumber }}
      </td>
    </ng-container>
    <ng-container matColumnDef="create_date">
      <th mat-header-cell *matHeaderCellDef>تاریخ ثبت نام</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.registerAt }}
      </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>اعتبار کاربر</th>
      <td mat-cell *matCellDef="let transaction">
        <!-- {{ transaction.creditAmount | toman }} -->
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>سطح کاربری</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.userLevel }}
      </td>
    </ng-container>

    <ng-container matColumnDef="planName">
      <th mat-header-cell *matHeaderCellDef>پلن کاربر</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.planName }}</td>
    </ng-container>

    <ng-container matColumnDef="planExpirationDateShamsi">
      <th mat-header-cell *matHeaderCellDef>تاریخ انقضا پلن</th>
      <td mat-cell *matCellDef="let transaction">
        {{ transaction.planExpirationDateShamsi }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>عملیات</th>
      <td mat-cell *matCellDef="let transaction">
        <a-button>عملیات</a-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [length]="total"
    [pageSize]="pageSize"
    [pageIndex]="pageNumber - 1"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pagination($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
