<div
  class="bg-blue-200 border-blue-300 rounded-2xl p-3 flex items-center justify-between my-1"
>
  <div class="flex items-center">
    <div class="flex items-center">
      <div class="mx-2" title="شماره سفارش">#{{ order.orderId }}</div>

      <div class="mx-2" title="20:18">
        {{ timeDiff(order.orderDate) }} دقیقه پیش
      </div>
      <div class="mx-2" title="وضعیت">{{ order.orderStatus | enum }}</div>
      <div class="mx-2" title="شعبه">شعبه 1</div>
      <div class="mx-2" title="مبلغ">670.000 تومان</div>
      <div class="mx-2" title="وضعیت ارسال">ارسال با پیک</div>
    </div>
    <div class="flex items-center">
      <div>اقلام:</div>
      <div class="flex items-center">
        <div>پیتزا پپرونی 1 عدد</div>
        <div>پیتزا سبزیجات 2 عدد</div>
        <div>نوشابه قوطی 2 عدد</div>
      </div>
    </div>
  </div>

  <div>
    <a-button (click)="details()">جزییات</a-button>
  </div>
</div>
