<div class="p-6">
  <div class="flex items-center">
    <div>
      <div class="p-2">
        <span>نام مشتری</span>
        <span class="pr-2">تست</span>
      </div>
      <div class="p-2">
        <span> شعبه</span>
        <span class="pr-2">4</span>
      </div>
      <div class="p-2">
        <span> زمان ثبت</span>
        <span class="pr-2">20:25</span>
      </div>
      <div class="p-2">
        <span> مبلغ</span>
        <span class="pr-2">250.000</span>
      </div>
    </div>
    <div>
      <p>اقلام:</p>
      <div class="p-2">
        <span>2 * پیتزا</span>
      </div>
    </div>
  </div>
  <div class="flex justify-between mt-6">
    <a-button type="cancel">لغو</a-button>
    <a-button type="primary">تغییر شعبه</a-button>
  </div>
</div>
