<div class="p-2 mx-2">
  <div class="flex justify-between items-center max-w-80">
    <a-title>آدرس ها </a-title>
    <div>
      <a-button mode="primary" (click)="openNew()">افزودن جدید</a-button>
    </div>
  </div>
  <div class="flex mt-5 flex-wrap">
    @for (item of addresses; track $index) {
    <div
      class="flex items-center justify-between my-4 md:m-4 border rounded-lg p-3 px-6 w-full md:min-w-[400px] md:w-auto"
      [ngClass]="{ 'border-green-700': item.addressId == selectedAddress }"
    >
      <div>
        <span>عنوان : {{ item.caption }}</span>
        <div>آدرس : {{ item.addressDetail }}</div>
      </div>
      @if (item.addressId != selectedAddress) {
      <div class="mr-3">
        <a-button (click)="assign(item.addressId)">انتخاب</a-button>
      </div>
      }
    </div>
    } @if (addresses.length == 0) {
    <div>
      <p class="p-2">هنوز آدرسی ثبت نکرده اید.</p>
    </div>
    }
  </div>
</div>
