<div class="h-dvh w-[230px] bg-gray-50 border-l">
  <div class="py-2">
    @for (item of menu; track $index) {
    <div
      (click)="action(item)"
      [ngClass]="{ 'bg-gray-200': url === item.url }"
      class="px-2 py-2 hover:bg-gray-200 cursor-pointer rounded-2xl mx-3 flex items-center"
    >
      <img [src]="'images/icons/' + item.icon" class="ml-2" />
      <span>{{ item.title }}</span>
    </div>
    @if (child.length > 0) {
    <div class="mr-2">
      @for (ch of item.child; track $index) {
      <div
        (click)="action(ch)"
        class="px-2 py-4 hover:bg-gray-200 cursor-pointer rounded-xl mx-3"
      >
        {{ ch.title }}
      </div>
      }
    </div>

    } }
  </div>
</div>
