<div class="p-2">
  <span class="ml-2">مدیریت پلن ها:</span>
  <a-button
    [routerLink]="['/panel/plans/add']"
    routerLinkActive="router-link-active"
    >افزودن</a-button
  >
</div>

<div class="grid grid-cols-2 gap-6">
  @for (plan of plans; track $index) {
  <div class="p-2 border border-green-700 rounded-xl bg-white">
    <div class="flex justify-between my-2">
      <div class="text-green-700 font-bold">{{ plan.planName }}</div>
      @if (plan.isActive) {
      <div class="text-green-700">فعال</div>
      }@else {
      <div class="text-orange-700">غیر فعال</div>
      }
    </div>

    <div class="my-5">
      <div>
        <p>قیمت قابل خرید : {{ plan.planPrice | toman }} تومان</p>
      </div>
      <div>
        <p class="line-through">
          قیمت اصلی : {{ plan.originalPrice | toman }} تومان
        </p>
      </div>
      <div>
        <p>سطح کاربر : {{ plan.productPriceLevel }}</p>
      </div>
      <div class="flex justify-between my-2">
        <div>گارانتی نصف قیمت: {{ plan.guaranteeReturnTimeHalf }} دقیقه</div>
      </div>
      <div class="flex justify-between my-2">
        <div>گارانتی رایگان : {{ plan.guaranteeReturnTimeFull }} دقیقه</div>
      </div>
      <div class="flex justify-between my-2">
        <div>مدت : {{ plan.durationInMonths }}</div>
      </div>
      <div class="flex justify-between my-2">
        <div>هزینه ارسال : {{ plan.deliveryFee | toman }} تومان</div>
      </div>

      <div class="flex justify-between my-2">
        @if (plan.allowsFloatingAddress) {
        <div>اجازه تغییر آدرس : دارد</div>

        }@else {
        <div>اجازه تغییر آدرس : ندراد</div>

        }
      </div>

      <div class="flex justify-between my-2">
        <div>دفعات مجاز تغییر آدرس : {{ plan.allowedAddressChanges }}</div>
      </div>
    </div>

    <div class="flex justify-between my-2">
      <a-button [routerLink]="['/panel/plans/edit/' + plan.planId]">
        ویرایش</a-button
      >
    </div>
  </div>
  }
</div>
