<div
  class="border-blue-300 border rounded-2xl p-3 flex items-center justify-between my-2"
  [appOrderStatus]="order.orderStatus"
>
  <div class="flex items-center">
    <div class="flex items-center">
      <div class="mx-2" title="شماره سفارش">#{{ order.orderId }}</div>

      <div class="mx-2" title="20:18">
        {{ timeDiff(order.orderDate) }} دقیقه پیش
      </div>
      <div class="mx-2" title="وضعیت">{{ order.orderStatus | enum }}</div>
      <div class="mx-2" title="شعبه">{{ order.branchName }}</div>
      <div class="mx-2" title="مبلغ">{{ order.totalAmount | toman }} تومان</div>
      <div class="mx-2" title="نام مشتری">{{ order.firstNameAndLastName }}</div>
      <div class="mx-2" title="شماره تماس">{{ order.phoneNumber }}</div>
      @if (order.deliveryTimeSlot) {
      <div class="mx-2" title="وضعیت ارسال">{{ order.deliveryTimeSlot }}</div>

      } @else {
      <div class="mx-2 text-red-800" title="وضعیت ارسال">تحویل فوری</div>

      }
    </div>
    <!-- <div class="flex items-center">
      <div>اقلام:</div>
      <div class="flex items-center">
        <div>پیتزا پپرونی 1 عدد</div>
        <div>پیتزا سبزیجات 2 عدد</div>
        <div>نوشابه قوطی 2 عدد</div>
      </div>
    </div> -->
  </div>

  <div>
    <a-button (click)="details()">جزییات</a-button>
  </div>
</div>
