<div class="p-6">
  <div class="flex flex-wrap">
    <div class="ml-2 flex">
      <div>
        <div>
          <span>عنوان</span>
          <a-input-text [(fc)]="form.controls.caption"></a-input-text>
        </div>
        <div>
          <span>آدرس</span>
          <a-input-text [(fc)]="form.controls.addressDetail"></a-input-text>
        </div>
        <div>
          <span>پلاک</span>
          <a-input-text [(fc)]="form.controls.plaque"></a-input-text>
        </div>
        <div>
          <span>واحد</span>
          <a-input-text [(fc)]="form.controls.unit"></a-input-text>
        </div>
        <div>
          <span>انتخاب مدیر</span>

          <a-select
            [(fc)]="form.controls.mangerUserId"
            [options]="users"
          ></a-select>
        </div>
      </div>
      <div class="mt-4 w-[600px]">
        <div id="map" class="w-full h-[600px]"></div>
      </div>
    </div>
    <div>
      <p>ساعات کاری:</p>
      <div>
        <div class="flex items-center my-2">
          <app-time-range
            [title]="'صبح شنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
          <app-time-range
            [title]="'عصر شنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
        </div>

        <div class="flex items-center my-2">
          <app-time-range
            [title]="'صبح یکشنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
          <app-time-range
            [title]="'عصر یکشنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
        </div>
        <div class="flex items-center my-2">
          <app-time-range
            [title]="'صبح دوشنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
          <app-time-range
            [title]="'عصر دوشنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
        </div>
        <div class="flex items-center my-2">
          <app-time-range
            [title]="'صبح سه شنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
          <app-time-range
            [title]="'عصر سه شنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
        </div>
        <div class="flex items-center my-2">
          <app-time-range
            [title]="'صبح چهارشنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
          <app-time-range
            [title]="'عصر چهارشنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
        </div>

        <div class="flex items-center my-2">
          <app-time-range
            [title]="'صبح پنجشنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
          <app-time-range
            [title]="'عصر پنجشنبه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
        </div>
        <div class="flex items-center my-2">
          <app-time-range
            [title]="'صبح جمعه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
          <app-time-range
            [title]="'عصر جمعه'"
            [(from)]="saturdayMorningFrom"
            [(to)]="saturdayMorningTo"
          ></app-time-range>
        </div>
      </div>
    </div>
  </div>
</div>
