<div>
  <div>
    <p>لیست سفارش ها</p>
  </div>
  <div class="my-2">
    <div class="border rounded-full bg-gray-200 flex items-center w-fit">
      <div
        class="rounded-full border shadow-sm p-2 cursor-pointer transition-all duration-500"
        [ngClass]="{ 'bg-white': status == '1' }"
        (click)="selectFilter('1')"
      >
        <span class="text-gray-600">همه </span>
        <span class="mx-2 font-bold">{{ total }}</span>
      </div>

      <div
        class="rounded-full border shadow-sm p-2 cursor-pointer transition-all duration-500"
        [ngClass]="{ 'bg-white': status == '1' }"
        (click)="selectFilter('1')"
      >
        <span class="text-gray-600">در انتظار</span>
        <span class="mx-2 font-bold">21</span>
      </div>
      <div
        class="rounded-full border shadow-sm p-2 cursor-pointer transition-all duration-500"
        [ngClass]="{ 'bg-white': status == '2' }"
        (click)="selectFilter('2')"
      >
        <span class="text-gray-600">در حال پخت </span>
        <span class="mx-2 font-bold">7</span>
      </div>
      <div
        class="rounded-full border shadow-sm p-2 cursor-pointer transition-all duration-500"
        [ngClass]="{ 'bg-white': status == '3' }"
        (click)="selectFilter('3')"
      >
        <span class="text-gray-600">در دست پیک</span>
        <span class="mx-2 font-bold">4</span>
      </div>
      <div
        class="rounded-full border shadow-sm p-2 cursor-pointer transition-all duration-500"
        [ngClass]="{ 'bg-white': status == '4' }"
        (click)="selectFilter('4')"
      >
        <span class="text-gray-600">تحویل شده </span>
        <span class="mx-2 font-bold">37</span>
      </div>
    </div>
  </div>
  <div>
    @for (item of orders; track $index) {
    <app-order-row [order]="item"></app-order-row>
    }
  </div>
</div>
