<div class="p-2">
  <span class="ml-2">مدیریت شعب:</span>
  <a-button>افزودن</a-button>
</div>

<div class="grid grid-cols-3 gap-4">
  <div class="p-2 border border-green-700 rounded-xl bg-white">
    <div class="flex justify-between my-2">
      <div>شعبه 1</div>
      <div class="text-green-700">فعال</div>
    </div>
    <div class="flex justify-between my-2">
      <div>در حال پخت : 10</div>
      <div>تحویلی به پیک : 24</div>
      <div>تکمیل شده: 50</div>
    </div>
    <div class="flex justify-between my-2">
      <a-button>مشاهده موجودی</a-button>
      <a-button> ویرایش</a-button>
    </div>
  </div>
</div>
