<div class="p-2">
  <span class="ml-2">مدیریت شعب:</span>
  <a-button
    [routerLink]="['/branches/add']"
    routerLinkActive="router-link-active"
    >افزودن</a-button
  >
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  @for (branch of branches; track $index) {
  <div class="p-2 border border-green-700 rounded-xl bg-white">
    <div class="flex justify-between my-2">
      <div>{{ branch.address.caption }}</div>
      <div class="text-green-700">فعال</div>
    </div>
    <div>
      <p>مدیر شعبه : {{ branch.mangerUser.username }}</p>
    </div>
    <div>
      <p>شماره مدیر : {{ branch.mangerUser.phoneNumber }}</p>
    </div>
    <div class="flex justify-between my-2">
      <div>آدرس: {{ branch.address.addressDetail }}</div>
    </div>
    <div class="flex justify-between my-2">
      <a-button [routerLink]="['/branches/edit/' + branch.branchId]"
        >ویرایش</a-button
      >
      <a-button (click)="remove(branch)"> حذف</a-button>
    </div>
  </div>
  }
</div>
