<div class="flex items-center h-dvh">
  <div class="m-auto p-6 border rounded-lg bg-cyan-200">
    <div>
      <p class="my-2">شماره همراه خود را وارد کنید</p>
      <div>
        <a-input-text [(fc)]="phone" [disabled]="step == 1 ? true : false" />
      </div>
    </div>
    @if (step == 1) {
    <div class="mt-1">
      <p>کد ورود وارد کنید</p>
      <div>
        <a-input-text [(fc)]="otp" />
      </div>
    </div>
    }

    <div class="mt-2">
      <a-button type="primary" (click)="login()">ورود</a-button>
    </div>
  </div>
</div>
