<div class="p-6 h-[650px] overflow-auto">
  <div>
    <p
      class="font-sm font-light mb-2 cursor-pointer text-center text-red-700"
      (click)="close()"
    >
      <a-icon name="pi-times"></a-icon>
      بستن
    </p>
    <p>{{ orderData.firstNameAndLastName }}</p>
    <p>شماره سفارش: {{ orderData.orderId }}</p>
  </div>
  <div class="my-10">
    <table class="w-full">
      <thead>
        <th>نام</th>
        <th>تعداد</th>
      </thead>
      <tbody>
        @for (item of orderData.cartItemes; track $index) {
        <tr>
          <td>{{ item.productTitle }}</td>

          <td>{{ item.quantity }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="my-2">
    <p class="my-2">اعلام وضعیت:</p>

    @if (orderStatus == 'Initial') {
    <div>
      <a-button size="full" (click)="setStatus(orderData.orderId, 1)"
        >سفارش دریافت کردم</a-button
      >
    </div>
    }@else if(orderStatus == 'ApprovedByBranch'){
    <div>
      <div>
        <p>مدت آماده سازی</p>
        <a-input-time-min [(fc)]="preparationTime"></a-input-time-min>
      </div>

      <div class="mb-2">
        <p>مدت ارسال</p>
        <a-input-time-min [(fc)]="shippingTime"></a-input-time-min>
      </div>

      <a-button size="full" (click)="setTime(orderData.orderId, 2)"
        >در حال اماده سازی هستم</a-button
      >
    </div>
    }@else if(orderStatus == 'Preparing'){
    <div>
      <a-button size="full" (click)="setStatus(orderData.orderId, 3)"
        >سفارش تحویل پیک دادم
      </a-button>
    </div>
    }
  </div>

  <!-- @if (orderStatus == 'ApprovedByBranch') {
  <div class="border rounded-xl my-2">
    <div>
      <p>مدت آماده سازی</p>
      <a-input-time-min></a-input-time-min>
    </div>

    <div>
      <p>مدت ارسال</p>
      <a-input-time-min></a-input-time-min>
    </div>

    <div>
      <a-button>ذخیره</a-button>
    </div>
  </div>
  } -->
</div>
