<div class="p-10">
  <div class="flex">
    <div class="ml-2">
      <div>
        <div>
          <span>نام</span>
          <a-input-text [(fc)]="firstNameAndLastName"></a-input-text>
        </div>
        <div>
          <span> تلفن</span>
          <a-input-text [(fc)]="phoneNumber"></a-input-text>
        </div>
        <div>
          <span> نقش کاربری</span>
          <a-select [options]="rols" [(fc)]="roleId"></a-select>
        </div>
        <div>
          <span>شرکت وابسته</span>
          <a-select [options]="companies" [(fc)]="companyId"></a-select>
        </div>
        <div>
          <span>پلن فعال</span>
          <a-select [options]="plans" [(fc)]="planId"></a-select>
        </div>
        <div class="mt-3 flex justify-between">
          @if (mode == 'edit') {
          <a-button (click)="save()">ذخیره تغییرات</a-button>

          }@else {
          <a-button (click)="save()">افزودن</a-button>

          }
          <a-button (click)="cancel()">انصراف</a-button>
        </div>
      </div>
    </div>
  </div>
</div>
