<div class="p-6">
  <div class="">
    <div class="border rounded-lg">
      <div class="p-2 flex items-center justify-center">
        <!-- <div>وضعیت</div> -->
        <div class="text-blue-600">{{ data.orderStatus | enum }}</div>
      </div>

      <table class="w-full">
        <tr>
          <td class="border p-1">نام :</td>
          <td class="border p-1">{{ data.firstNameAndLastName }}</td>
        </tr>
        <tr>
          <td class="border p-1">شعبه :</td>
          <td class="border p-1">{{ data.branchName }}</td>
        </tr>
        <tr>
          <td class="border p-1">زمان ثبت :</td>
          <td class="border p-1">{{ data.orderDate }}</td>
        </tr>
        <tr>
          <td class="border p-1">نوع پرداخت :</td>
          <td class="border p-1">{{ data.paymentMethod | enum }}</td>
        </tr>
        <tr>
          <td class="border p-1">مبلغ :</td>
          <td class="border p-1">{{ data.totalAmount | toman }}</td>
        </tr>
      </table>

      <!-- <div class="p-2 flex items-center">
        <div>هزینه ارسال</div>
        <div class="pr-2">{{ data.shippingCost }}</div>
      </div> -->
    </div>
    <div class="border p-2">
      <p>اقلام:</p>
      <div class="p-2">
        <div>2 * پیتزا</div>
      </div>
    </div>
  </div>
  <div class="flex justify-between mt-6">
    <a-button type="cancel" (click)="onNoClick()">بستن</a-button>
    <a-button type="cancel" (click)="cancelOrder()">لغو سفارش</a-button>
  </div>
</div>
